html {

	margin: 0;
	padding: 0;
	font-size: 0;
	color: white;

}

body {

	background: #1D1F21;
	background-image: url("images/bg.png");

}

#main {

	position: absolute;
	width: 600px;
	z-index: 15;
	left: 50%;
	margin: -10px 0 0 -300px;

	background-color: #282A2E;
	border: 1px solid #373B41;

	padding: 0;
	font-size: 16px;

	min-height: 100%;

}

#content {

	margin: 30px;

}

#logo {

	text-align: center;

}

ul {

	list-style-type: none;
	margin: 0;
	padding: 0;


}


li {
 
	margin: 30px;
	background-color: #1D1F21;
	border: 1px solid #373B41;
 
}
 
a {
 
	color: white;
	text-decoration: none;
	text-indent: 30px;
	line-height: 100px;
	display: block;
	font-family: 'Lato';
	font-size: 30px;
	vertical-align: middle;
 
}

i {

	width: 1.25em;
	font-size: 45px !important;
	text-indent: 0px;
	vertical-align: -10%;

}
 
a:hover {
 
	background: rgba(255, 255, 255, 0.1);
 
}